<div class="content">
      <div class="row">
        <div class="login-form">
          <h2>Sistema de Agendamento de Transferencias</h2><br><br>
          <h3>Bem-vindo ao sistema de agendamento de transferencias! <br> <br>Para começar faça login <%= link_to t(".login_here"), new_user_session_path %> </h3>
        </div>
      </div>
    </div>