.bundle
db/*.sqlite3
log/*.log
log/*.age
log/*.log.lck
solr/data/
solr/pids/
/tmp
.sass-cache/
.project
coverage/
.DS_Store
doc/src/*.pdf
doc/src/*.src
doc/src/*.fdb_latexmk
doc/src/*.log
doc/src/*.aux
doc/src/*.dvi
doc/src/*.toc
*~
*.orig
spec/reports
.pydevproject
*swp
